* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  height: 70%;
  padding: 20px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  position: relative;


}

.img {
  height: 200px;
  width: 170px;
  display: flex;
  position: relative;
  left: 900px;
  box-shadow: 4px 4px 10px grey;
}

.img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.dev1 {
  padding: 40px;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  background-image: url("https://tse4.mm.bing.net/th/id/OIP.j2EzME_ZCRwgDl9d0X_bXAHaEK?rs=1&pid=ImgDetMain&o=7&rm=3");
  color: white;
  letter-spacing: 2px;


}

.h3 {
  padding: 40px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  text-align: left;
}

.social-links a {
  width: 40px;
  height: 40px;
  background: #ffffff;
  color: #0b3d2e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.3s ease;
}

.social-links a:hover {
  background: #ffd700;
  transform: translateY(-4px);
}

.social-links a i {
  transition: 0.3s ease;
}

.links {
  text-decoration: none;
  color: white;
  font-weight: 600;
  display: flex; 
  padding: 0px 0px 0px 20px;

  top: 250px;
}